.details-form {
  width: 50%;
  margin: 0 auto;
}

form {
  margin: 0 30px;
}

.account-type,
.luz {
  margin: 15px 0;
}

input[type="radio"] {
  display: none;
}

label#icon {
  margin: 0;
  border-radius: 5px 0 0 5px;
}

label.arrangement {
  position: relative;
  display: inline-block;
  text-align: right;
}

label.radio {
  position: relative;
  display: inline-block;
  padding-top: 4px;
  margin-right: 20px;
  text-indent: 30px;
  overflow: visible;
  cursor: pointer;
  width: max-content;
}

label.radio:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #42a5f5;
}

label.radio:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 4px;
  top: 8px;
  left: 4px;
  border: 3px solid #fff;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
}

input[type="radio"]:checked + label:after {
  opacity: 1;
}

#seat-map {
  width: 50%;
  margin: 0 auto;
}
.seat-image {
  width: 20px;
  height: 20px;
  opacity: 1;
}

body {
  background-color: #212121;
  text-emphasis-color: #42a5f5;
  color: white;
}

#title {
  background-color: #484848;
  text-align: center;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: inline-block;
  width: 200px;
  text-align: right;
}
​ #numberOfSeats {
  vertical-align: middle;
}

button {
  width: 150px;
  height: 45px;
  display: grid;
  border: 1px solid;
  outline: none;
  margin: auto;
}

button.button-primary {
  width: 150px;
  height: 40px;
  display: grid;
  border: 1px solid;
  outline: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.semaforo {
  width: max-content;
}
